<!doctype html>
<html lang="en">
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "nav.html" . }}
<main>
  {{ partial "hero.html" . }}
  {{ partial "metrics.html" . }}
  {{ partial "about.html" . }}
  {{ partial "soclab.html" . }}
  {{ partial "investigations.html" . }}
  {{ partial "detection.html" . }}
  {{ partial "toolkit.html" . }}
  {{ partial "assessment.html" . }}
  {{ partial "incident.html" . }}
  {{ partial "background.html" . }}
  {{ partial "interviewprep.html" . }}
  {{ partial "resume.html" . }}
  {{ partial "contact.html" . }}
</main>
{{ partial "footer.html" . }}
</body>
</html>
